[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"urllib3" = "*"
"boto3" = "*"
requests = "*"
spotipy = "*"
attrs = "*"

[dev-packages]
awscli = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
