attrs==17.3.0
awscli==1.14.24
boto3==1.6.6
botocore==1.9.6
certifi==2018.1.18
chardet==3.0.4
click==6.7
colorama==0.3.7
docutils==0.14
Flask==0.12.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
pluggy==0.6.0
py==1.5.2
pyasn1==0.4.2
pytest==3.3.1
python-dateutil==2.6.1
PyYAML==3.12
requests==2.18.4
rsa==3.4.2
s3transfer==0.1.12
six==1.11.0
urllib3==1.22
Werkzeug==0.13
